.overlay-text{
    text-align: center;
    position: absolute;
    top:50%;
    right:50%;
    transform:translate(50%, -50%);
    font-size: 40px;
    margin: 2px;
    width:120%;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #001d2f;
    
}
.go{
    font-size: 2.0rem;
}
.button {
  background-color: #0f866c;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius:25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
    
    background-color:yellow; /* Green */
    color: rgb(8, 8, 8);
  }
  .money{
    font-size: 15px;
    font-weight: 100;
  }
  overlay-text .h1{
    line-height: 99.96px;
  }
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
 
  .heading{
    padding:50px 50px 50px 80px;
  }
  .heading h2{
    color:#001d2f;
    font-size: 60px;
    font-weight: 600;

  }
  .heading p{
    font-size: 20px;
    padding-bottom: 20px;
  }
  .one_click{
    height:500px;
    padding:50px 50px 50px 80px;
    padding-right: 150px;
  }
  .one_click h2{
    color:#001d2f;
    font-size: 60px;
    font-weight: 600;

  }
  .one_click p{
    font-size: 20px;
    
  }
  devices{
    height:800px;
    padding:50px 50px 50px 80px;
    padding-bottom: 200px;
    
  }
  .devices h2{
    color:#001d2f;
    font-size: 60px;
    font-weight: 600;
    padding-right: 100px;

  }
  .devices p{
    font-size: 20px;
    padding-right: 200px;

    
  }
  .icons{
    width: 20px;
    height:20px;
    margin-left: 20px;
    margin-bottom: 24px;
  }
  
  
  /*.container .box {
    background-color:blue;
    width:100%;
    height:500px;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.container .box .box-row {
    display:table-row;
}
.container .box .box-cell {
    display:table-cell;
    width:33%;
    padding:10px;
}
.container .box .box-cell.box1 {
    background:rgb(253, 250, 250);
    width:10%;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    
    text-align: center;
}
.container .box .box-cell.box2 {
    background:white;
    width:10%;
    text-align:center;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
}
.container .box .box-cell.box3 {
    width:10%;
    background:white;
    text-align:center;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
}
.container .box .box-cell.box1 h2{
  font-size: 40px;

}
.container .box .box-cell.box2 h2{
  font-size: 40px;


}
.container .box .box-cell.box3 h2{
  font-size: 40px;

}
.container .box .box-cell.box1 p{
  font-size: 20px;

}
.container .box .box-cell.box2 p{
  font-size: 20px;


}
.container .box .box-cell.box3 p{
  font-size: 20px;


}*/
.container {
  
  padding: 8em 2em;
  
}
.column {
  float: left;
  width: 33.33%;
  text-align: center;
  
  
}
.column h2{
  font-size: 40px;


}
.column p{
  font-size:20px ;
}

/* Stops the float property from affecting content after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}
.language p{
  font-size: 15px;
  font-weight: 400;
  height: 20px; 
  position:absolute; 
  top:40px; 
  right:135px;
}
